.icon {
  mask-size: 100% !important;
  mask-repeat: no-repeat !important;

  $icons: 'cog','game', 'home', 'music';

  @each $icon in $icons {
    &.icon-#{$icon} {
      mask: url('/icons/#{$icon}.svg');
    }
    &.bg-#{$icon} {
      background: url('/icons/#{$icon}.svg') no-repeat;
      background-size: 100%;
    }
  }
}
