@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./icons.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


// Select
.solid-select-single-value {
  color: white !important;
}
.solid-select-list {
  background: white !important;


  .solid-select-option {
    color: black !important;
  }
}
